<div class="container p-5">
  <div class="row d-flex justify-content-center mt-5">
    <div class="col-xl-6 col-md-8 col-sm-10">
      <h3 class="d-flex justify-content-center" style="color:white"><img src="../../assets/img/festapp.png"></h3>
      <!-- FORMULARIO LOGIN -->
      <form [formGroup]="formUser" (ngSubmit)="onClick()">
        <div class="form-group">
          <label style="color:white" for="email">Email</label>
          <input type="text" class="form-control has-error has-feedback" id="inputError" name="email"
            formControlName="email">
          <p class="error" *ngIf="formUser.controls.email.errors && formUser.controls.email.touched">Debe ser un
            correo electrónico</p>
        </div>
        <div class="form-group">
          <label style="color:white" for="password">Password</label>
          <input type="password" class="form-control" name="password" formControlName="password">
          <p class="error" *ngIf="formUser.controls.password.errors && formUser.controls.password.touched">El campo
            tiene que
            ser completado</p>
        </div>
        <div class="d-flex justify-content-between">
          <button [disabled]="!formUser.valid" type="submit" class="entry btn btn-primary">Entry</button>
          <button type="button" class="register btn btn-block btn-primary ml-3" data-toggle="modal"
            data-target="#exampleModal">
            Register
          </button>
        </div>
      </form>
      <!-- REGISTRO CON FACEBOOK -->
      <button class="btn btn-block btn-primary mt-2">Registrate con Facebook</button>
      <!-- REGISTRO CON SPOTIFY -->
      <button id="spotifyBTN" class="btn btn-block btn-primary" (click)="spotifyBTN()">Registrate con Spotify</button>
      <!-- MODAL -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">¿Eres nuevo? Registrate para poder utilizar nuestra App
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <!-- FORMULARIO MODAL PARA REGISTRARSE -->
            <div class="modal-body">
              <form action="http://localhost:3000/users/register" method="POST" [formGroup]="formRegister">
                <div class="form-group">
                  <label for="user">Name</label>
                  <input type="text" class="form-control" name="name" formControlName="name">
                </div>
                <div class="form-group">
                  <label for="pass">Surname</label>
                  <input type="text" class="form-control" name="surname" formControlName="surname">
                </div>
                <div class="form-group">
                  <label for="user">Email</label>
                  <input type="text" class="form-control" name="email" formControlName="email">
                </div>
                <div class="form-group">
                  <label for="user">Password</label>
                  <input type="password" class="form-control" name="password" formControlName="password">
                </div>
                <div class="form-group">
                  <label for="user">Repeat Password</label>
                  <input type="password" class="form-control" name="repeat_password" formControlName="repeat_password">
                </div>
                <div class="form-group">
                  <label for="user">Phone Number</label>
                  <input type="text" class="form-control" name="phone_number" formControlName="phone_number">
                </div>
                <div class="form-group">
                  <label for="user">Username</label>
                  <input type="text" class="form-control" name="username" formControlName="username">
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" (click)="register()">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>