<!-- TOGGLE NAVBAR FIXED -->
<div class="fixed-top">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h5 class="text-white h4">Mejora tu experiencia festivalera</h5>
      <a class="btn btn-dark" href="">Usuario</a>
      <a class="btn btn-dark" href="">Horarios</a>
      <a class="btn btn-dark" href="">Festivales</a>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <img class="img-festapp-final-sm" src="assets/img/festapp-final-sm.png" alt="">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
      aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>
<router-outlet></router-outlet>