img {
  width: 10%;
  height: auto;
  display: block;
}

.img-festapp-final-sm {
  width: 3%;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.videoCont {

  position: relative;
  bottom: 0;
}

.navbar{
  background-color: rgba(255,255,255,0.1);
  color: white;
}

.logo{
  width: 270px;
}
