<video *ngIf="route.url === '/login'" autoplay muted loop id="myVideo">
  <source src="../assets/img/video2.mp4" type="video/mp4">
</video>
<div class="videoCont">
  <!-- TOGGLE NAVBAR FIXED -->
  <!--   <div class="fixed-top">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4">
        <h5 class="text-white h4">Mejora tu experiencia festivalera</h5>
        <a class="btn btn-dark" href="">Usuario</a>
        <a class="btn btn-dark" href="">Horarios</a>
        <a class="btn btn-dark" href="">Festivales</a>
      </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
      <img class="img-festapp-final-sm" src="assets/img/festapp-final-sm.png" alt="">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
        aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
  </div> -->

  <nav class="navbar navbar-expand-lg navbar-light">
    <div>
      <img src="..//assets/img/festapp-final-sm.png" alt="">
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Profile <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Chat <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <router-outlet></router-outlet>
</div>