<div class="container p-5 mt-5">


  <mat-grid-list cols="4" rowHeight="150px">
    <mat-grid-tile class="artist" *ngFor="let band of bandas" [colspan]="1" [rowspan]="1"
      [style.background-image]="'url('+band.img+')'" [style.background-size]="'cover'"
      (click)="selectBand(band.idfestivales_bandas)">
      <mat-grid-tile-header>{{band.nombre}}</mat-grid-tile-header>
    </mat-grid-tile>
  </mat-grid-list>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Bandas seleccionadas</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th *ngFor="let bandasSelect of bandasSeleccionadas" scope="row"></th>
      </tr>
    </tbody>
  </table>

  <!-- <div>
    <div class="d-flex justify-content-between">
      <div *ngFor="let banda of bandas" class="col-3">
        <div>
          <img [src]="banda.img" alt="">
        </div>

      </div>
    </div>

  </div> -->

</div>
