/* You can add global styles to this file, and also import other style files */


body {
  /* filter: grayscale(80%); */
  background-image: url(assets/img/happy-people-dance-in-nightclub-party-concert_31965-113.jpg);
  background-size: 100%;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
